<!-- About Me Section -->
<section id="about" class="pt-12 bg-gray-50 dark:bg-darkBlue1">
    <!-- About Container -->
    <div class="container mx-auto px-6 pb-32">
  
      <!-- First Row -->
      <div class="flex flex-col space-y-24 text-center md:flex-row md:space-y-0">
        <!-- Item 1 -->
        <div class="itemContainer">
          <div class="flex items-center justify-center h-24 mb-6">
            <img src="assets/images/icon-devices.svg" alt="" />
          </div>
          <h3 class="text-xl font-bold">Versatile and Reliable</h3>
          <p class="max-w-md">
            Computer Science taught me the crucial skills required for the industry. 
            My professional and freelancing experience allows me to learn quickly.  
            My passion for computing and technology keeps me motivated and interested. 
          </p>
        </div>
  
        <!-- Item 2 -->
        <div class="itemContainer">
          <div class="flex items-center justify-center h-24 mb-6">
            <img src="assets/images/icon-trust.svg" alt="" />
          </div>
          <h3 class="text-xl font-bold">Someone you can trust</h3>
          <p class="max-w-md">
            First Class Honours Degree in Computer Systems from the University of Limerick.
            3+ Years Experience with Global Companies like Portwest and Medtronic. 
            3+ Years Freelancing, building websites and online presence for smaller businesses. 
          </p>
        </div>
      </div>
  
      <!-- Second Row -->
      <div class="flex flex-col space-y-24 mt-28 text-center md:flex-row md:space-y-0">
        <!-- Item 3 -->
        <div class="itemContainer">
          <div class="flex items-center justify-center h-24 mb-6">
            <img src="assets/images/icon-collab.svg" alt="" />
          </div>
          <h3 class="text-xl font-bold">Friendly and Cooperative</h3>
          <p class="max-w-md">
            Comfortable communicating to solve problems with others.
            Listening to collaborating with colleagues or clients.
            Sociable and respectful with a positive attitude.
          </p>
        </div>
  
        <!-- Item 4 -->
        <div class="itemContainer">
          <div class="flex items-center justify-center h-24 mb-6">
            <img src="assets/images/icon-file.svg" alt="" />
          </div>
          <h3 class="text-xl font-bold">Resourceful and Capable</h3>
          <p class="max-w-md">
            Commit to deadlines and deliver what's been requested. 
            Improvising with the resources and information I've been given.
            Encouraging and resilient if the team are unreasonably doubtful.
          </p>
        </div>
      </div>
  
    </div>
  </section>