<!-- About Me Section -->
<section class="block pt-12 bg-gray-50 dark:bg-darkBlue1">

    <!-- Profile Container -->
    <div class="container block justify-center mx-auto p-6 break-words">
      <img
        alt="Dillon Rosenkranz"
        src="assets/images/dillon.jpg"
        class="mx-auto w-auto object-cover h-52 sm:h-64 md:h-80 lg:h-96 rounded-full shadow-lg hover:shadow-2xl hover:opacity-90 hover:blur-xs duration-200"
      />

      <h3 class="centeredHeading transition-all ease-in-out">
        Hi, I'm Dillon
      </h3>

      <p class="centeredParagraph">
        I've moved to London after taking a long travel break and I'm excited to get started in my next position!<br>
        Read about me below, then click the menu or footer options to view other pages!<br>

      </p>

      <a href="#about"><img src="assets/images/icon-arrow.svg" alt="More About Me Below" class="duration-300 rotate-90 w-24 h-auto mx-auto mb-4"/></a>

    </div>

    <!-- About Container -->
    <div id="about" class="container mx-auto px-6 pb-32">
  
      <!-- First Row -->
      <div class="flex flex-col space-y-24 text-center md:flex-row md:space-y-0">
        <!-- Item 1 -->
        <div class="itemContainer">
          <div class="flex items-center justify-center h-24 mb-6">
            <img src="assets/images/icon-devices.svg" alt="" />
          </div>
          <h3 class="text-xl font-bold">Versatile and Reliable</h3>
          <p class="max-w-md">
            Computer Science taught me the crucial skills required for the industry. 
            My professional and freelancing experience allows me to learn quickly.  
            My passion for computing and technology keeps me motivated and interested. 
          </p>
        </div>
  
        <!-- Item 2 -->
        <div class="itemContainer">
          <div class="flex items-center justify-center h-24 mb-6">
            <img src="assets/images/icon-trust.svg" alt="" />
          </div>
          <h3 class="text-xl font-bold">Someone you can trust</h3>
          <p class="max-w-md">
            First Class Honours Degree in Computer Systems from the University of Limerick.
            3+ Years Experience with Global Companies like Portwest and Medtronic. 
            3+ Years Freelancing, building websites and online presence for smaller businesses. 
          </p>
        </div>
      </div>
  
      <!-- Second Row -->
      <div class="flex flex-col space-y-24 mt-28 text-center md:flex-row md:space-y-0">
        <!-- Item 3 -->
        <div class="itemContainer">
          <div class="flex items-center justify-center h-24 mb-6">
            <img src="assets/images/icon-collab.svg" alt="" />
          </div>
          <h3 class="text-xl font-bold">Friendly and Cooperative</h3>
          <p class="max-w-md">
            Comfortable communicating to solve problems with others.
            Listening to collaborating with colleagues or clients.
            Sociable and respectful with a positive attitude.
          </p>
        </div>
  
        <!-- Item 4 -->
        <div class="itemContainer">
          <div class="flex items-center justify-center h-24 mb-6">
            <img src="assets/images/icon-file.svg" alt="" />
          </div>
          <h3 class="text-xl font-bold">Resourceful and Capable</h3>
          <p class="max-w-md">
            Commit to deadlines and deliver what's been requested. 
            Improvising with the resources and information I've been given.
            Encouraging and resilient if the team are unreasonably doubtful.
          </p>
        </div>
      </div>

      <!-- Third Row -->
      <div class="flex flex-col space-y-24 mt-28 text-center md:flex-row md:space-y-0">
        <!-- Insert future stuff here, what I wanna do and what I wanna use etc-->
        <!-- Item 5 -->
        <div class="itemContainer">
          <div class="flex items-center justify-center h-24 mb-6">
            <img src="assets/images/icon-collab.svg" alt="" />
          </div>
          <h3 class="text-xl font-bold">Excited for the future</h3>
          <p class="max-w-md">
            Currently looking for a mid-level full-stack developer job in London!
            Particularly interested in Vanilla PHP or Laravel TechForGood or E-Commerce opportunities. 
            Ready to gain more experience and get exposed to web dev tools and technologies I haven't had the opportunity to use yet. 
            
          </p>
        </div>
  
        <!-- Item 6 -->
        <div class="itemContainer">
          <div class="flex items-center justify-center h-24 mb-6">
            <img src="assets/images/icon-file.svg" alt="" />
          </div>
          <h3 class="text-xl font-bold">Resourceful and Capable</h3>
          <p class="max-w-md">
            Commit to deadlines and deliver what's been requested. 
            Improvising with the resources and information I've been given.
            Encouraging and resilient if the team are unreasonably doubtful.
          </p>
        </div>
      </div>
  
    </div>
  </section>