<!-- Testimonials Section -->
<section class="generalSection">

    <div class="generalContainer">
  
      <!-- Testimonial 1 -->
      <div class="generalCard">
        
        <p class="generalParagraph">
          
        </p>

        <div class="flex space-x-4">
          <div>
            <h5 class="generalHeading"></h5>
            <p class="generalHeading"></p>
          </div>
        </div>
      </div>
  
      <!-- Testimonial 2 -->
      <div class="generalCard">
        <p class="generalParagraph">
          
        </p>

        <div class="flex space-x-4">
          
          <div>
            <h5 class="generalHeading"></h5>
            <p class="generalHeading"></p>
          </div>
        </div>
      </div>
  
      <!-- Testimonial 3 -->
      <div class="generalCard">
        <p class="generalParagraph">
          
        </p>

        <div class="flex space-x-4">
          <!--<img
            src="assets/images/profile.jpg"
            alt=""
            class="w-10 h-10 rounded-full"
          />-->
          <div>
            <h5 class="generalHeading"></h5>
            <p class="generalHeading"></p>
          </div>
        </div>
      </div>

    </div>

</section>