<!-- Experience Section -->
<section class="generalSection">

    <div class="generalContainer">
  
      <!-- Exp 1 -->
      <div class="generalCard">

        <div class="flex space-x-4">
          <div>
            <h5 class="generalHeading"></h5>
            <p class="generalHeading"></p>
          </div>
        </div>
        
        <p class="generalParagraph">
          
        </p>

      </div>
  
      <!-- Exp 2 -->
      <div class="generalCard">
        
        <div class="flex space-x-4">
          <div>
            <h5 class="generalHeading"></h5>
            <p class="generalHeading"></p>
          </div>
        </div>
        
        <p class="generalParagraph">
          
        </p>

      </div>
  
      <!-- Exp 3 -->
      <div class="generalCard">
        
        <div class="flex space-x-4">
          <div>
            <h5 class="generalHeading"></h5>
            <p class="generalHeading"></p>
          </div>
        </div>
        
        <p class="generalParagraph">
          
        </p>

      </div>

    </div>

</section>