<!-- Experience Section -->
<section class="generalSection">

    <div class="experienceContainer">
  
      <!-- Exp 1 -->
      <div class="generalCard">

        <div class="flex space-x-4">
          <div>
            <h5 class="generalHeading">Portwest Global</h5>
            <p class="generalHeading">Westport, Ireland</p>
          </div>
        </div>
        
        <p class="generalParagraph">
          Mainly involved with the maintenance and development of the LAMP MVC E-Commerce website used around the world by thousands of active customers and staff, other internal websites, large SQL databases, middleware, 
          APIs and data sources (such as Infor M3 ERP and Akeneo PIM), AWS(LightSail & EC2, S3, Cloudfront), cron jobs, content and document management, order and email automation, redis caching, Docker, and more.
          High level support for website and webservice issues, developing and delivering new features, testing and troubleshooting, solving problems.
          Over 700k orders were placed on the website during my time there and $4oom revenue in 2022. Great international company where I gained a broad range of experience!
        </p>

      </div>
  
      <!-- Exp 2 -->
      <div class="generalCard">
        
        <div class="flex space-x-4">
          <div>
            <h5 class="generalHeading">Showergem</h5>
            <p class="generalHeading">UK, IE, DE & US (Remote)</p>
          </div>
        </div>
        
        <p class="generalParagraph">
          Managing the ShowerGem websites available in 4 regions for nearly a year! 
          Improving user interface and experience, website performance(Lighthouse, PageSpeed and GTmetrix test), SEO & GTM, Mailchimp. 
          Involved with website content management, checkout process, upsells, price changes, managing discounts/sales, and more.
          SG sells unique and innovative products and I was happy to be involved with this successful business!

        </p>

      </div>
  
      <!-- Exp 3 -->
      <div class="generalCard">
        
        <div class="flex space-x-4">
          <div>
            <h5 class="generalHeading">Medtronic</h5>
            <p class="generalHeading">Galway, Ireland</p>
          </div>
        </div>
        
        <p class="generalParagraph">
          Internship with the world's largest medical device company in their global headquarters. 
          Worked in the IT department where we maintained and supported the company's infrastructure and manufacturing systems.
          Configuring and supporting line equipment and computers, robotics, helped develop projects 
          Independently developed and maintained the internal Philanthropy website, which was used to broadcast future events, blog posts and image galleries.
          Thousands of stents, pacemakers and other medical devices being manufactured every day!

        </p>

      </div>

      <!-- Exp 4 -->
      <div class="generalCard">
        
        <div class="flex space-x-4">
          <div>
            <h5 class="generalHeading">Freelancing</h5>
          </div>
        </div>
        
        <p class="generalParagraph">
          Love taking on smaller projects and getting involved with local businesses to boost online presence and sales!
          Click on these links to visit some websites I've independently created:
          <ul class="list-disc underline leading-loose m-2 md:m-4">
            <li><a href="https://www.westportfloorsandbeds.com/" target="_blank" class="generalParagraph">Westport Floors and Beds</a></li>
            <li><a href="https://www.rowleydeanbuilders.com/" target="_blank" class="generalParagraph">Rowley Dean Builders</a></li>
            <li><a href="https://themallboutique.sho/" target="_blank" class="generalParagraph">The Mall Boutique</a></li>
            <li><a href="https://healthandperformance.glideapp.io" target="_blank" class="generalParagraph">OHP (Health and Performance) Web App</a></li>
          </ul>

          True Cafe

        </p>

      </div>

    </div>

</section>