<!-- Hobbies Section -->
<section class="generalSection">

    <div class="generalContainer">

        <!-- General Hobbies Card -->
        <div class="generalCard bg-hobby-general">
            <h5 class="generalHeading">General Hobbies:</h5>
            <p class="whiteParagraph">Travel, Exploring, Exercise(+ Charity Events), Hiking and Camping(When I'm back home), Acoustic Drums & Guitar, Bouldering, Swimming, </p>
        </div>

        <!-- Tech Hobbies Card -->
        <div class="generalCard bg-hobby-tech">
            <h5 class="generalHeading">Tech Hobbies:</h5>
            <p class="generalParagraph">PC Building, Console Modding (Modern and Retro), Phone and Electronic Repairs, Android Rooting, iOS Jailbreak, Hackintosh</p>
        
        </div>

        <!-- Current Interests Card -->
        <div class="generalCard bg-hobby-interest">
            <h5 class="generalHeading">Current Interests:</h5>
            <p class="generalParagraph">Things I wanna learn more about</p>
        
        </div>

        
        
    </div>

</section>

                    
