<!-- Loading Screen -->
<section class="heroSection">
    <div class="heroContainer">
      <img src="assets/images/bigIntroImage.png" alt="" class="mx-auto" />

      <!--<h1 class="centeredHeading">
        Dillon Rosenkranz<br>
        Web Portfolio
      </h1>
      
      <p class="centeredParagraph">
        Browse through some of my experience, projects, education and more! 
        Social links and contact details can be found below!
      </p>-->

      <button class="generalButton" onclick="openPage('about')">
        Get Started
      </button>

    </div>
  </section>