<!-- Projects Section -->
<section class="generalSection">
    <div class="generalContainer">
        <div class="generalCard">
            <a href="https://covertaudio.42web.io/" target="_blank">
                <h5 class="largeHeading">covertAudio</h5>
            </a>
            <p class="generalParagraph">Audio sharing platform built from scratch using PHP, HTML, CSS (TailwindCSS), JS (Vanilla, jQuery & Alpine.JS), Ajax and more!</p>
            <a href="https://covertaudio.42web.io/" target="_blank" class="generalButton">
                Visit covertAudio
                <svg aria-hidden="true" class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>

        <div class="generalCard">
            <a href="https://dillonsnaps.vercel.app/" target="_blank">
                <h5 class="largeHeading">Dillon's Exhibition</h5>
            </a>
            <p class="generalParagraph">Image Gallery Website to showcase some images I've taken, built with Next.js, TailwindCSS and Cloudinary</p>
            <a href="https://dillonsnaps.vercel.app/" target="_blank" class="generalButton">
                Visit Dillon's Exhibition
                <svg aria-hidden="true" class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>

        <div class="generalCard">
            <a href="https://dillonsnaps.vercel.app/" target="_blank">
                <h5 class="largeHeading">myD</h5>
            </a>
            <p class="generalParagraph">Mobile Identification System for Android Devices, created in Android Studio using Java</p>
            <a href="https://github.com/dillonnollid/myD" target="_blank" class="generalButton">
                Visit GitHub Repo
                <svg aria-hidden="true" class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>

        <div class="generalCard">
            <a href="https://www.rowleydeanbuilders.com/" target="_blank">
                <h5 class="largeHeading">Rowley Dean Builders</h5>
            </a>
            <p class="generalParagraph">Website I created for a client in Manchester to promote their business, gain customers and showcase some of the company's recent projects</p>
            <a href="https://www.rowleydeanbuilders.com/" target="_blank" class="generalButton">
                Visit Rowley Dean Builders
                <svg aria-hidden="true" class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
    </div>
</section>

                    
