<!-- Testimonials Section -->
<section class="generalSection">

    <div class="generalContainer">
  
      <!-- Testimonial 1 -->
      <div class="generalCard">
        
        <p class="generalParagraph">
          Dillon was a consistent performer and a great asset to the company. 
          He applied himself positively to any task or challenge that presented itself with his willingness to learn, 
          discover, and solve issues on his own to ensure the job got done, and done correctly.
        </p>

        <div class="flex space-x-4">
          <!--<img
            src="assets/images/joe-profile.jpg"
            alt=""
            class="w-10 h-10 rounded-full"
          />-->
          <div>
            <h5 class="generalHeading">Joe</h5>
            <p class="generalHeading">Head of Digital Department, Portwest</p>
          </div>
        </div>
      </div>
  
      <!-- Testimonial 2 -->
      <div class="generalCard">
        <p class="generalParagraph">
          During his time with the company Dillon was an exemplary employee. He had an open and
          pleasant demeanour and was well liked by colleagues and managers alike.
          His worth ethic was unquestionable, and he performed well in any task asked of him. Dillon
          was professional in all his communication with peers and senior management.
        </p>

        <div class="flex space-x-4">
          <!--<img
            src="assets/images/deirdre-profile.jpg"
            alt=""
            class="w-10 h-10 rounded-full"
          />-->
          <div>
            <h5 class="generalHeading">Deirdre</h5>
            <p class="generalHeading">Head of HR Department, Portwest</p>
          </div>
        </div>
      </div>
  
      <!-- Testimonial 3 -->
      <div class="generalCard">
        <p class="generalParagraph">
          Ask Sean to give me a written reference or testimonial that I can feature on my Portfolio site. 
          Lorem ipsum howdy doody take up a bit more space here maybe
        </p>

        <div class="flex space-x-4">
          <!--<img
            src="assets/images/sean-profile.jpg"
            alt=""
            class="w-10 h-10 rounded-full"
          />-->
          <div>
            <h5 class="generalHeading">Sean</h5>
            <p class="generalHeading">Founder & CEO, ShowerGem</p>
          </div>
        </div>
      </div>

      <!-- Testimonial 4 
      <div class="generalCard">
        <p class="generalParagraph">
          Pauls making a testimonial for me soon and that will be inserted here!
          Lorem ipsum howdy doody take up a bit more space here maybe
        </p>

        <div class="flex space-x-4">-->
          <!--<img
            src="assets/images/sean-profile.jpg"
            alt=""
            class="w-10 h-10 rounded-full"
          />
          <div>
            <h5 class="text-sm font-semibold">Paul</h5>
            <p class="text-xs font-extralight">IT Manager, Medtronic Galway</p>
          </div>
        </div>
      </div>-->

    </div>

</section>