<section id="testimonials" class="bg-gray-50 dark:bg-darkBlue">

    <!-- Testimonial Container -->
    <div class="container mx-auto px-6 pt-12 pb-80 md:pb-96">

      <!-- Boxes Container -->
      <div class="relative flex flex-col w-full space-y-6 md:flex-row md:space-y-0 md:space-x-12">
        
        <img
          src="assets/images/quotes-icon.png"
          alt=""
          class="absolute left-1 -top-2 w-10 md:-top-16 md:w-20"
        />
    
        <!-- Quote 1 -->
        <div class="flex flex-col p-10 space-y-6 rounded-lg bg-gray-100 dark:bg-darkBlue3 md:w-1/3">
          <p class="text-sm leading-5 md:text-lg">
            Dillon was a consistent performer and a great asset to the company. 
            He applied himself positively to any task or challenge that presented itself with his willingness to learn, 
            discover, and solve issues on his own to ensure the job got done, and done correctly.
          </p>

          <div class="flex space-x-4">
            <!--<img
              src="assets/images/joe-profile.jpg"
              alt=""
              class="w-10 h-10 rounded-full"
            />-->
            <div>
              <h5 class="text-sm font-semibold">Joe</h5>
              <p class="text-xs font-extralight">Head of Digital Department, Portwest</p>
            </div>
          </div>
        </div>
    
        <!-- Quote 2 -->
        <div class="flex flex-col p-10 space-y-6 rounded-lg bg-gray-100 dark:bg-darkBlue3 md:w-1/3">
          <p class="text-sm leading-5 md:text-lg">
            During his time with the company Dillon was an exemplary employee. He had an open and
            pleasant demeanour and was well liked by colleagues and managers alike.
            His worth ethic was unquestionable, and he performed well in any task asked of him. Dillon
            was professional in all his communication with peers and senior management.
          </p>

          <div class="flex space-x-4">
            <!--<img
              src="assets/images/deirdre-profile.jpg"
              alt=""
              class="w-10 h-10 rounded-full"
            />-->
            <div>
              <h5 class="text-sm font-semibold">Deirdre</h5>
              <p class="text-xs font-extralight">Head of HR Department, Portwest</p>
            </div>
          </div>
        </div>
    
        <!-- Quote 3 -->
        <div class="flex flex-col p-10 space-y-6 rounded-lg bg-gray-100 dark:bg-darkBlue3 md:w-1/3">
          <p class="text-sm leading-5 md:text-lg">
            Ask Sean to give me a written reference or testimonial that I can feature on my Portfolio site. 
            Lorem ipsum howdy doody take up a bit more space here maybe
          </p>

          <div class="flex space-x-4">
            <!--<img
              src="assets/images/sean-profile.jpg"
              alt=""
              class="w-10 h-10 rounded-full"
            />-->
            <div>
              <h5 class="text-sm font-semibold">Sean</h5>
              <p class="text-xs font-extralight">Founder & CEO, ShowerGem</p>
            </div>
          </div>
        </div>

      </div>

    </div>

</section>