@tailwind base;
@tailwind components;
@tailwind utilities;

.ficon:hover {
  filter: invert(80%) sepia(37%) saturate(7048%) hue-rotate(132deg)
    brightness(105%) contrast(104%);
}

@layer base {

  body {
    @apply dark:bg-darkBlue text-gray-900 dark:text-white font-opensans;
  }

  header {
    @apply container max-w-6xl md:h-32 mx-auto px-6 py-8;
  }

  nav {
    @apply flex items-center my-auto justify-between font-semibold;
  }

  footer {
    @apply bg-darkBlue2 text-white;
  }

  /*h1 {
    @apply font-opensans text-2xl font-bold md:text-4xl;
  }*/

}

.dynamicLogo {
  @apply bg-logo-light-mode dark:bg-logo-dark-mode bg-no-repeat h-20 w-20 mx-auto md:mx-0 md:absolute top-10 left-10;
}
.navMenu {
  @apply hidden md:flex items-center justify-center space-x-4 md:space-x-10 md:absolute top-12 right-10 cursor-pointer;
  
}
.navItem {
  @apply mx-2 group-hover:border-b hover:text-accentCyan group-hover:border-accentCyan text-black dark:text-white;
}

.themeToggleButton {
  @apply text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2;
}

.footerContainer {
  @apply container mx-auto pt-12 px-5 pb-10;
}

.footerItems {
  @apply flex flex-col justify-between space-y-24 md:flex-row md:space-y-0;
}

.footerMenu {
  @apply flex flex-col space-y-10 text-xl md:text-base md:space-x-20 md:space-y-0 md:flex-row;
}

.flexColSpace {
  @apply flex flex-col space-y-3;
}

.heroSection {
  @apply bg-curvy-light-mode dark:bg-curvy-dark-mode bg-no-repeat bg-contain bg-bottom;
}

.heroContainer {
  @apply container mx-auto px-6 text-center md:pt-20 pb-52;
}

.centeredHeading {
  @apply max-w-2xl mx-auto mb-10 text-3xl font-bold leading-normal mt-14 md:text-4xl;
}

.centeredParagraph {
  @apply max-w-sm mx-auto mb-10 text-sm md:max-w-xl md:text-lg;
}

.generalButton {
  @apply inline-flex p-3 w-auto rounded-lg items-center text-center text-sm font-medium bg-accentCyan hover:scale-95 focus:ring-4 focus:outline-none focus:ring-blue-400 dark:bg-blue-600 dark:hover:bg-blue-600 dark:focus:ring-blue-800;
}

.itemContainer {
  @apply flex flex-col items-center space-y-2 md:w-1/2;
}

.projectsSection {
  @apply mx-auto min-h-full items-center justify-between p-4 md:px-12 bg-white dark:bg-darkBlue flex flex-col md:flex-row md:flex-wrap space-y-4;
}

.projectsCard {
  @apply max-w-sm shadow-sm hover:shadow-xl p-4 md:p-8 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700 ;
}

.projectsParagraph {
  @apply mb-3 font-normal text-gray-700 dark:text-gray-400;
}

.largeHeading {
  @apply mb-2 text-2xl font-bold tracking-tight;
}

/* Hide vertical scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide vertical scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
