@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply bg-gradient-to-tr from-white to-gray-200 dark:from-darkBlue2 dark:to-darkBlue3 text-gray-600 dark:text-gray-200 font-opensans;
  }

  header {
    @apply container max-w-6xl md:h-32 mx-auto px-6 py-8;
  }

  nav {
    @apply flex items-center my-auto justify-between font-normal ;
  }

  footer {
    @apply bg-darkBlue1 text-white w-full bottom-0 mb-auto;
  }

  /*h1 {
    @apply font-opensans text-2xl font-bold md:text-4xl;
  }*/

}

.dynamicLogo {
  @apply bg-logo-light-mode dark:bg-logo-dark-mode bg-no-repeat h-14 w-20 mx-auto my-auto md:absolute top-6 left-10;
}

.navMenu {
  @apply hidden md:flex items-center justify-center md:space-x-8 md:absolute top-12 right-10 transition duration-300;
}

.navItem {
  @apply mx-2 group-hover:border-b group-hover:border-accentCyan text-cyan-500 dark:text-cyan-300 generalHover;
}

.hoverUnderline {
  @apply block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-cyan-600;
}

.themeToggleButton {
  @apply text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2;
}

.footerContainer {
  @apply container mx-auto pt-12 px-5 pb-10;
}

.footerItems {
  @apply flex flex-col justify-between space-y-24 md:flex-row md:space-y-0;
}

.footerMenu {
  @apply flex flex-col space-y-10 text-xl md:text-base md:space-x-20 md:space-y-0 md:flex-row;
}

.flexColSpace {
  @apply flex flex-col space-y-3;
}

.heroSection {
  @apply bg-curvy-light-mode dark:bg-curvy-dark-mode bg-no-repeat bg-contain bg-bottom;
}

.heroContainer {
  @apply container mx-auto px-6 text-center md:pt-4 pb-52;
}

.centeredHeading {
  @apply max-w-2xl mx-auto text-center text-3xl font-bold leading-normal mb-6 mt-8 md:text-2xl md:mb-10 md:mt-12;
}

.centeredParagraph {
  @apply max-w-sm mx-auto text-center leading-normal mb-10 text-sm md:max-w-xl md:text-lg;
}

.generalButton {
  @apply flex flex-row mx-auto content-end select-none items-center justify-center leading-relaxed gap-3 py-4 px-6 my-4 rounded-lg bg-cyan-400 text-center align-middle font-sans text-sm font-bold uppercase text-white shadow-md shadow-cyan-300/20 transition-all hover:shadow-lg hover:shadow-cyan-900/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none;
}

.itemContainer {
  @apply flex flex-col items-center space-y-2 md:w-1/2;
}

.generalSection {
  @apply flex flex-col md:flex-row md:flex-wrap mx-auto min-h-full items-center justify-between p-8 md:px-12 bg-white dark:bg-darkBlue space-y-2;
}

.generalContainer {
  @apply container grid grid-flow-row gap-8 mx-auto sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3;
}

.generalCard {
  @apply h-auto my-8 flex flex-col justify-between rounded-md shadow-lg p-4 md:p-8 shadow-gray-200 dark:shadow-gray-900 bg-gray-100 dark:bg-darkBlue3 duration-300 hover:-translate-y-1 md:opacity-90 md:hover:opacity-70;
}

.generalParagraph {
  @apply mb-3 font-normal text-sm leading-relaxed md:text-lg text-gray-500 dark:text-gray-400;
}

.generalHeading {
  @apply font-semibold text-base leading-loose md:text-xl text-gray-600 dark:text-gray-300;
}

.largeHeading {
  @apply mb-8 md:mb-12 text-2xl text-center font-bold tracking-tight underline text-gray-600 dark:text-gray-400;
}

.whiteHeading {
  @apply my-8 md:my-12 text-2xl text-center font-bold tracking-normal underline text-white;
}

.whiteParagraph {
  @apply mb-3 font-semibold text-sm leading-relaxed md:text-lg text-gray-100 ;
}

.generalHover {
  @apply hover:text-cyan-600 dark:hover:text-cyan-200 hover:cursor-pointer hover:duration-300;
}

.ficon {
  @apply p-2 bg-darkBlue rounded-full cyanHover;
}

.cyanHover {
  @apply hover:bg-cyan-400 duration-300 md:hover:opacity-70;
}

.experienceContainer {
  @apply container grid grid-flow-row gap-8 mx-auto sm:grid-cols-1 lg:grid-cols-2;
}

/* Hide vertical scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide vertical scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
